* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F8F9FA;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 1500px;
}

.form-wrapper {
    display: flex;
    background-color: #F7FDFC;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.left-section {
    flex: 1;
    padding: 60px 120px;
    margin-top: 110px;
    text-align: left;
}

.logo {
    margin-bottom: 20px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: -10px;
    position: relative;
    top: 15px;
}


.left-section h2 {
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.left-section p {
    color: #6c757d;
    line-height: 1.7;
    font-size: 1rem;
}

.form-container {
    flex: 1;
    padding: 60px 40px;
    margin-left: 20px;
    margin-right: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 5px;
}

.mobile-para {
    display: none;
}

.input-group {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.input-container {
    width: 100%;
    margin-bottom: -5px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 0.9rem;
    font-weight: bolder;
}

input, select {
    width: 100%;
    padding: 14px 16px;
    border: 1px solid #CED4DA;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    color: #495057;
}



input:focus, select:focus {
    border-color: #80BDFF;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.password {
    margin-top: 20px;
}


button {
    background-color: #00C896;
    color: #fff;
    padding: 16px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 1.125rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
    margin-top: 30px;
}

button:hover {
    background-color: #00A87A;
}

.terms {
    font-size: 0.875rem;
    font-weight: bolder;
    margin-top: 20px;
    text-align: center;
}

.terms a {
    color: #2EC4B6;
}

.mobile-terms {
    display: none;
}

/* Responsive Styles */
@media (max-width: 1030px) {
    .form-container {
        margin-right: 50px;
    }
    .left-section{
        margin-top: 30px;
    }
}

@media (max-width: 992px) {
    .form-wrapper {
        flex-direction: column;
    }
    .left-section{
        padding: 40px 20px;
    }
    .form-container{
        padding: 40px 20px;
        margin-right: 20px;
    }
}

@media (max-width: 915px) {
    .left-section{
        margin-top: 1px;
    }
}

@media (max-width: 576px) {
    .input-group {
        flex-direction: column;
    }

    .left-section{
        padding: 20px 20px;
        margin-top: 1px;
    }

    img {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        margin-left: -10px;
    }
}

@media (max-width: 430px) {
    .desktop-para {
        display: none;
    }

    .mobile-para {
        display: contents;
        font-family: inter;
        font-weight: 300;
        font-size: 11px;
        line-height: 16px;
        color: #737373;
    }

    .terms {
        display: none;
    }

    .mobile-terms {
        display: block;
        font-family: inter;
        font-size: 11px;
        font-weight: 600;
        font-style: normal;
        line-height: 25px;
        text-align: center;
        padding: 0 35px;
        margin-bottom: 30px;
        position: relative;
        bottom: 25px;
    }
    .mobile-terms a {
        color: #2EC4B6;
    }
}

@media (max-width: 380px) {
    .left-section{
        padding: 5px 20px;
        margin-top: 1px;
    }
    .mobile-para {
        display: contents;
        font-family: inter;
        font-weight: 300;
        font-size: 11px;
        line-height: 16px;
        color: #737373;
    }

    .terms {
        display: none;
    }

    .mobile-terms {
        padding: 0 18px;
    }

    
}